@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Roboto:400,700');


@mixin bold-p {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
} 
@mixin light-p {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
} 

@mixin bold-r {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
} 
@mixin light-r {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
} 

    